ENV=dev
DATABASE_URL=
STREAMLIT_DATA_SOURCE=db
APP_PASSWORD=
ALLOW_PROD_DB=false
WB_TOKEN=
WB_ANALYTICS_TOKEN=
MPSTATS_API_TOKEN=
WB_SITE_PRICE_MONITOR_ENABLED=false
WB_SITE_PRICE_PROXY_URL=
GOOGLE_APPLICATION_CREDENTIALS=credentials.json
GOOGLE_SHEET_ID=
PROFIT_PER_ORDER_RUB=100
